<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mridang.hangouts"
    android:sharedUserId="com.mridang.dashclock"
    android:versionCode="13"
    android:versionName="1.3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/application_name"
        android:process="com.mridang.dashclock"
        android:theme="@style/ExtensionTheme">
        <service
            android:name="com.mridang.hangouts.HangoutsWidget"
            android:icon="@drawable/ic_hangouts"
            android:label="@string/hangouts_name"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="2" />
            <meta-data
                android:name="worldReadable"
                android:value="true" />
            <meta-data
                android:name="description"
                android:value="@string/hangouts_info" />
        </service>
        <service
            android:name="com.mridang.hangouts.WaddsappWidget"
            android:icon="@drawable/ic_whatsapp_launcher"
            android:label="@string/whatsapp_name"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="2" />
            <meta-data
                android:name="worldReadable"
                android:value="true" />
            <meta-data
                android:name="description"
                android:value="@string/whatsapp_info" />
        </service>
        <service
            android:name="com.mridang.hangouts.FacebookWidget"
            android:icon="@drawable/ic_facebook_launcher"
            android:label="@string/facebook_name"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="2" />
            <meta-data
                android:name="worldReadable"
                android:value="true" />
            <meta-data
                android:name="description"
                android:value="@string/facebook_info" />
        </service>
    </application>

</manifest>
